<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Twix - Topluluğa Katıl!</title>
    <link rel="shortcut icon" type="image/x-icon" href="./dist/img/logo/rs23.png">
    <link href="./dist/css/tabler.min.css?1684106062" rel="stylesheet"/>
    <link href="./dist/css/tabler-flags.min.css?1684106062" rel="stylesheet"/>
    <link href="./dist/css/tabler-payments.min.css?1684106062" rel="stylesheet"/>
    <link href="./dist/css/tabler-vendors.min.css?1684106062" rel="stylesheet"/>
    <link href="./dist/css/demo.min.css?1684106062" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css" />
    <style>
      @import url('https://rsms.me/inter/inter.css');
      :root {
      	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
      	font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>
  </head>
  <body >
    <script src="./dist/js/demo-theme.min.js"></script>
<div class="page-wrapper">
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl d-flex flex-column justify-content-center">
        <div class="empty">
          <div class="empty-img"><img src="./dist/img/logo/rs23.png" height="128" alt="">
          </div>
          <p class="empty-title">Böyle bir sunucu bulunamadı</p>
          <p class="empty-subtitle text-muted">
            <a href="https://discord.gg/Pehbsnhxt9">Discord</a> sunucumuza gelip, sunucunuzu ekletebilirsiniz
          </p>
          <div class="empty-action">
            <a href="/" class="btn btn-primary">
              Anasayfaya Dön
            </a>
          </div>
        </div>
      </div>
    </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <footer class="footer footer-transparent d-print-none">
      <div class="container-xl">
        <div class="row text-center align-items-center flex-row-reverse">
          <div class="col-lg-auto ms-lg-auto">
            <ul class="list-inline list-inline-dots mb-0">
              <li class="list-inline-item">
                <a href="https://discord.com/users/1067476859933179954" target="_blank" class="link-secondary" rel="noopener">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon text-pink icon-filled icon-inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path></svg>
                  Sponsor
                </a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-lg-auto mt-3 mt-lg-0">
            <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item">
                    Tüm Hakları Saklıdır &copy;
                    <a href="." class="link-secondary">Twix</a>
                  </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>